<div class="text-2xl p-4 font-bold">Create Account - Individual</div>
<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 p-4 pt-0    overflow-x-auto 
    sm:overflow-x-visible ">
    <app-bar-chart class="w-auto sm:w-full shadow p-3 md:col-span-2 overflow-auto"></app-bar-chart>
    <app-doughnut-chart class="w-100 sm:w-full shadow p-3 overflow-auto"></app-doughnut-chart>
    <app-doughnut-2 class="w-auto sm:w-full shadow p-3  overflow-auto"></app-doughnut-2>
    <app-bar-chart-2 class="w-auto sm:w-full shadow  p-3 overflow-auto md:col-span-2"></app-bar-chart-2>
    <app-bar-chart-3 class="w-auto sm:w-full shadow p-3 overflow-auto"></app-bar-chart-3>
</div>